# Define owner of the CODEOWNERS file itself
/.github/CODEOWNERS                                             @beejjacobs @m-juckes-pins @stef-solirius @raamvar

# Protect important folders

# Github Actions workflows
/.github/workflows                                              @beejjacobs @m-juckes-pins  @HarrisonBoyleThomas @ @KranthiRayipudi  @harriet-stuart-wd @prathapA100 @raamvar @KalyaniNik @anushaveerapalli68

# Azure Synapse files
/workspace/**                                                   @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100  @raamvar @KalyaniNik @anushaveerapalli68 @m-juckes-pins

# Azure DevOps pipeline files
/pipelines/**                                                   @m-juckes-pins @HarrisonBoyleThomas  @KranthiRayipudi  @harriet-stuart-wd @prathapA100  @raamvar @KalyaniNik @anushaveerapalli68

# ODW Package
/odw/**                                                         @HarrisonBoyleThomas  @KranthiRayipudi  @harriet-stuart-wd @prathapA100 @raamvar @KalyaniNik @anushaveerapalli68

# Add protection for certain file extensions,
# i.e. a python or sql expert must approve
*.py                                                           @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @raamvar @KalyaniNik @anushaveerapalli68
*.ipynb                                                        @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @raamvar @KalyaniNik @anushaveerapalli68
*.sql                                                          @HarrisonBoyleThomas @KranthiRayipudi @harriet-stuart-wd @prathapA100 @raamvar @KalyaniNik @anushaveerapalli68
