---
openapi: 3.0.1
info:
  title: Zendesk custom API
  description: Custom API for Zendesk
  version: "0.1"
servers:
- url: https://pinssupport.zendesk.com
paths:
  /api/v2/tickets/{ticket_id}/related:
    get:
      description: Call to get related tickets
      summary: Get related tickets
      operationId: GetRelatedTickets
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/email_ccs:
    get:
      description: Call to get email ccs
      summary: Get email ccs
      operationId: GetEmailCcs
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/comments/count:
    get:
      description: Call to get count of ticket comments
      summary: Get count of ticket comments
      operationId: GetTicketCommentsCount
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/comments:
    get:
      description: Call to get comments for a ticket
      summary: Get ticket comments
      operationId: GetTicketComments
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/followers:
    get:
      description: Call to get the followers of a ticket
      summary: Get followers of a ticket
      operationId: GetTicketFollowers
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/incidents:
    get:
      description: Call to get the incidents for a ticket
      summary: Get ticket incidents
      operationId: GetTicketIncidents
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/audits/{ticket_audit_id}:
    get:
      description: Call to get an audit for a ticket
      summary: Get an audit for a ticket
      operationId: GetTicketAudit
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      - name: ticket_audit_id
        in: path
        description: The audit id of the ticket audit
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/collaborators:
    get:
      description: Call to get the collaborators of a ticket
      summary: Get ticket collaborators
      operationId: GetTicketCollaborators
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets:
    get:
      description: Call to get all tickets
      summary: Get all tickets
      operationId: GetAllTickets
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/count:
    get:
      description: Call to get a count of tickets
      summary: Get a count of tickets
      operationId: GetTicketCount
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/tags:
    get:
      description: Call to get the tags for a ticket
      summary: Get ticket tags
      operationId: GetTicketTags
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/audits:
    get:
      description: Call to get the audits for a ticket
      summary: Get ticket audits
      operationId: GetTicketAudits
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}:
    get:
      description: Call to get a specific ticket
      summary: Get a ticket
      operationId: GetTicket
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/tickets/{ticket_id}/audits/count:
    get:
      description: Call to get a count of audits for a ticket
      summary: Get audit count for a ticket
      operationId: GetTicketAuditCount
      parameters:
      - name: ticket_id
        in: path
        description: The ticket id if you want a specific ticket
        required: true
        style: simple
        explode: false
        schema:
          type: integer
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      servers:
      - url: https://pinssupport.zendesk.com
    servers:
    - url: https://pinssupport.zendesk.com
  /api/v2/search.json:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json; charset=utf-8:
              schema:
                type: string
              examples: {}
      summary: Triggers when a new ticket is created
      description: Triggers when a new ticket is created
      operationId: OnNewTicket
      x-ms-trigger: batch
      x-ms-trigger-metadata:
        mode: polling
        kind: query
      x-ms-trigger-hint: New ticket trigger
      parameters:
        - name: query
          in: query
          required: false
          allowReserved: true
          schema:
            type: string
            default: '?query=type:ticket created_at>1hour order_by:created_at sort:desc'
          description: Search query for latest tickets
          x-ms-visibility: none
components:
  schemas:
    Schema:
      type: object
      properties:
        id:
          type: integer
          format: int64
  parameters:
    ticket_id:
      name: ticket_id
      in: path
      description: The ticket id if you want a specific ticket
      required: true
      style: simple
      explode: false
      schema:
        type: integer
    ticket_audit_id:
      name: ticket_audit_id
      in: path
      description: The audit id of the ticket audit
      required: true
      style: simple
      explode: false
      schema:
        type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
