# Spark 3.5 library list can be found here
# https://github.com/microsoft/synapse-spark-runtime/blob/main/Synapse/spark3.5/Official-Spark3.5-Rel-2026-06-10.0-rc.1.md

# extra packages defined here for installing on the spark pool

# Azure Servicebus
azure-servicebus==7.13.0

# Logging
azure-monitor-opentelemetry==1.8.4

# Retry
tenacity==9.0.0

# Time
iso8601==2.1.0

# Creating fake data
Faker==33.1.0