  {
  "swagger": "2.0",
  "info": {
    "title": "Zendesk custom API",
    "description": "Custom API for Zendesk",
    "version": "0.1"
  },
  "host": "pinssupport.zendesk.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/tickets/{ticket_id}/related": {
      "get": {
        "summary": "Get related tickets",
        "description": "Call to get related tickets",
        "operationId": "GetRelatedTickets",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/email_ccs": {
      "get": {
        "summary": "Get email ccs",
        "description": "Call to get email ccs",
        "operationId": "GetEmailCcs",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/comments/count": {
      "get": {
        "summary": "Get count of ticket comments",
        "description": "Call to get count of ticket comments",
        "operationId": "GetTicketCommentsCount",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/comments": {
      "get": {
        "summary": "Get ticket comments",
        "description": "Call to get comments for a ticket",
        "operationId": "GetTicketComments",
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/followers": {
      "get": {
        "summary": "Get followers of a ticket",
        "description": "Call to get the followers of a ticket",
        "operationId": "GetTicketFollowers",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/incidents": {
      "get": {
        "summary": "Get ticket incidents",
        "description": "Call to get the incidents for a ticket",
        "operationId": "GetTicketIncidents",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/audits/{ticket_audit_id}": {
      "get": {
        "summary": "Get an audit for a ticket",
        "description": "Call to get an audit for a ticket",
        "operationId": "GetTicketAudit",
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "ticket_audit_id",
            "description": "The audit id of the ticket audit",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/collaborators": {
      "get": {
        "summary": "Get ticket collaborators",
        "description": "Call to get the collaborators of a ticket",
        "operationId": "GetTicketCollaborators",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets": {
      "get": {
        "summary": "Get all tickets",
        "description": "Call to get all tickets",
        "operationId": "GetAllTickets",
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/count": {
      "get": {
        "summary": "Get a count of tickets",
        "description": "Call to get a count of tickets",
        "operationId": "GetTicketCount",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/tags": {
      "get": {
        "summary": "Get ticket tags",
        "description": "Call to get the tags for a ticket",
        "operationId": "GetTicketTags",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/audits": {
      "get": {
        "summary": "Get ticket audits",
        "description": "Call to get the audits for a ticket",
        "operationId": "GetTicketAudits",
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}": {
      "get": {
        "summary": "Get a ticket",
        "description": "Call to get a specific ticket",
        "operationId": "GetTicket",
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector"
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/tickets/{ticket_id}/audits/count": {
      "get": {
        "summary": "Get audit count for a ticket",
        "description": "Call to get a count of audits for a ticket",
        "operationId": "GetTicketAuditCount",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ticket_id",
            "description": "The ticket id if you want a specific ticket",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Auto generated using Swagger Inspector",
            "schema": {
              "type": "string"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/api/v2/search.json": {
      "get": {
        "summary": "Triggers when a new ticket is created",
        "description": "Triggers when a new ticket is created",
        "operationId": "OnNewTicket",
        "produces": [
          "application/json; charset=utf-8"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "description": "Search query for latest tickets",
            "type": "string",
            "default": "?query=type:ticket created_at>1hour order_by:created_at sort:desc",
            "x-ms-visibility": "none"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "x-ms-trigger-hint": "New ticket trigger"
      }
    }
  },
  "definitions": {
    "Schema": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "type": "integer"
        }
      }
    }
  },
  "parameters": {
    "ticket_id": {
      "in": "path",
      "name": "ticket_id",
      "description": "The ticket id if you want a specific ticket",
      "required": true,
      "type": "integer"
    },
    "ticket_audit_id": {
      "in": "path",
      "name": "ticket_audit_id",
      "description": "The audit id of the ticket audit",
      "required": true,
      "type": "integer"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}